PORT=3000
GITHUB_TOKEN=ghp_your_token_here
GATES_REGISTRY_URL=https://raw.githubusercontent.com/genspec-dev/quality-gates/main/index.json
TAXONOMY_PATH=./taxonomy.json
# Future:
# CLERK_SECRET_KEY=
# STRIPE_SECRET_KEY=
